{% extends 'home/index.html' %}

{% block content %}
        <p>
            Добавить новый факультет
            <form name="addNewFacultet" action="/faculty/add/" method="POST">
                {% csrf_token %}
                <label class="form-control">Название факультета</label>
                <input class="form-control" name="name" />   <br/>
                <label>Сокращенное название</label>
                <input class='form-control' name="simple_name" />
                <button class='btn btn-dark' type="submit">Добавить факультет</button>
            </form>
        </p>
        <br/>
        <p>Добавить новую кафедру
            <form name = "addNewCafedra" action="/faculty/NewCafedra/" method="POST">
                {% csrf_token %}
            <label class="form-control">Выберите факультет: </label>
                <select required class="form-control" type="radio" default="1" name="facultet">
                    {% for key in data %}
                    {% for faculty in key %}
                        <option class="form-control" value="{{faculty}}">{{faculty}}</option>
                    {% endfor %}
                {% endfor %}
                </select>
            <br/>
            <label class="form-control">Введите название кафедры</label>
            <input required class="form-control" name="cafedra_name" value=""/>
            <br/>
            <label class="form-control" >Сокращенное название кафедры: </label>
            <input required class="form-control" name="simple_name" value=""/>
                <button class="btn btn-dark" type="submit">Добавить кафедру</button>
            </form>
        </p>
        <br/>
        {% if data %}
            DATA:<br/>{{data}}
            <br/><br/>
            {% for key in data %}
                {% for faculty in key.items %}
                    {% with faculty_name=faculty|first cafedras=faculty|last|first %}
                        <p><center>{{faculty_name}}</center></p>
                        <ul name="{{faculty_name}}">
                            {% for cafedra in cafedras%}
                            <li>{{cafedra}}</li>
                            {% endfor %}
                        </ul>
                    {% endwith %}
                {% endfor %}

            {% endfor %}

        {% endif %}
{% endblock content %}